@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

body {
    font-family: "Roboto",sans-serif;
    color: #1f1f1f !important;
}

.navbar {
    background: linear-gradient(120deg,#e96443 0,#904e95);
}

    .navbar .navbar-brand {
        font-family: Raleway,sans-serif;
        font-size: 26pt;
        color: #ffffff !important;
    }

.navbar .nav-link {
    color: #ffffff !important;
    font-size: 12pt;
    font-family: Roboto,sans-serif;
}

    .nav-link:hover {
        text-decoration: underline !important;
    }

h1 {
    font-family: Raleway,sans-serif !important;
    color: #904e95 !important;
}

h2 {
    font-family: Raleway,sans-serif !important;
    color: #e96443 !important;
}
    h2 a {
        color: #e96443 !important;
        text-decoration:none !important;
    }

h3, h4, h5, h6 {
    font-family: Roboto,sans-serif !important;
}

.validation-summary-valid {
    display: none;
}

.validation-summary-errors {
    list-style-type: lower-alpha;
}

.padded-top {
    padding-top: 25px;
}

@media only screen and (max-width:780px) {
    .display-1 {
        font-size: 2.8em !important;
    }

    .display-4 {
        font-size: 1.6em !important;
    }

    .home-background {
        height: 150px;
        padding-top: 4vw;
    }
}
