@model IEnumerable<DeveloperMovieProject.ViewModels.HomeViewModel>

<h1>Latest Movies</h1>
@foreach (var item in Model)
{
    <h2><a asp-action="View" asp-controller="Genre">@item.Genre.Name</a></h2>
    <ul>
        @foreach(var movie in item.Movies)
        {
            <li>
                <p>@movie.Title (@movie.Year.ToString())</p>
            </li>
        }
    </ul>
}